a {
	text-decoration: none;
	color: #168f50;
}

body {
	color: #168f50;
	background-color: #eeabce;
	font-family: 'Inter', sans-serif;
}

img {
	border-radius: 3px; 
	border: 3px solid black;
}

.container {

}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar .name {
	flex: 1 1 auto;
}

.navbar h3 {
	padding: 0 .5em 0 .5em;
	flex: 0 1 auto;
	justify-content: flex-end;
}

.body1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 600px;
}

.body1 .left {
	display: flex;
	justify-content: center;
	flex: 1 1 auto;
}

.body1 img {
	max-width: 60%;
	height: auto;
	justify-content: flex-end;
	filter: grayscale(60%);
}

.body2 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 600px;
}

.body2 .right {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 30%;
}

.body2 img {
	max-height: 13em;
	width: auto;
	filter: brightness(120%);
	opacity: 90%;
}

.body3 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 600px;
}

.body3 img {
	max-height: 13em;
	width: auto;
}


.body3 .right {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 30%;
}

.about,.contact {
	display: flex;
	justify-content: center;
	align-content: center;
	min-height: 600px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
}
